
body{
    background-color: rgb(131, 131, 138) ;
}

div{
   font-family: Verdana;
   border: solid 3px;
   padding: 1em;
   place-items: center;
   text-align: center;
   height: 10em;
   position: absolute;
   top: 40%;
   left: 32%;
   background-color: rgb(195, 193, 193);
   border-radius: 15px;
   border-style: hidden;
}

#submitBtn{
    border-radius: 15px;
}

#myLabel {
    border-radius: 15px;
    color: black;
}

#submitBtn:hover{
    background-color: rgb(100, 97, 97);
    color: rgb(255, 255, 255);
}
#myH1{
    color: black;
}

#myH3{
    color: red;
}